/* homeContainer.css */
.homeContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.homeContent {
  display: flex;
  flex: 1;
  width: 100%;
}

.sidebar {
  flex: 1;
  max-width: 250px;
  height: 100%;
  position: sticky;
  top: 0;
}

.mainContent {
  flex: 3;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.feed {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  width: 100%;
}

.rightbar {
  flex: 1;
  max-width: 250px;
  height: 100%;
  position: sticky;
  top: 0;
}

.footer {
  background-color: #f4bd61;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  margin-top: auto;
  width: 100%;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section {
  flex: 1;
  min-width: 200px;
  margin: 10px;
}

.footer-section h4 {
  font-size: 18px;
  margin-bottom: 10px;
}

.footer-section p,
.footer-section ul {
  font-size: 14px;
  line-height: 1.6;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 5px;
}

.footer-section ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-icons a {
  color: #fff;
  font-size: 20px;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #333;
}

.footer-bottom {
  margin-top: 20px;
  font-size: 14px;
}


#root {
  display: flex;
  flex-direction: column;
  flex: 1;
}