.topbarContainer {
  height: 50px;
  width: 100%;
  background-color: #f4bd61;
  display: flex;
  align-items: center;
  position: sticky; 
  top: 0;
  z-index: 1000; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.topbarLeft {
  flex: 1;
}

.topbarCenter {
  flex: 5;
}

.searchbar {
  padding-left: 5%;
  width: 100%;
  height: 30px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  align-items: center;
}

.searchIcon {
  font-size: 20px !important;
  margin-left: 10px;
}

.searchInput {
  border: none;
  width: 70%;
  background-color: white;
  color: black;
}

.searchInput:focus {
  outline: none;
}

.topbarRight {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end; 
  gap: 15px; 
  color: white;
  margin-right: 10px;
}

.topbarImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.logoutIcon {
  font-size: 24px;
  cursor: pointer;
  color: white;
}

.logoutIcon:hover {
  color: #e0a94c;
}


@media (max-width: 1024px) {
  
.topbarContainer{

  height: 80px;
}

.topbarRight{

  margin-right: 50px;

}

.topbarImg{

  width: 52px;
  height: 52px
}

.logoutIcon{

  font-size: 34px;

}

.searchbar{

  height: 50px;
  font-size: x-large;
}
}




@media (max-width: 768px) {
}

.searchbar{

 width: 80%;
}


  @media (max-width: 480px) {

    .searchbar {

      width: 90%;
      font-size: larger;

    }
  }