.topbarContainer {
  height: 50px;
  width: 100%;
  background-color: #f4bd61;
  display: flex;
  align-items: center;
  position: sticky; /* Change to sticky to ensure it stays on top within the main content */
  top: 0;
  z-index: 1000; /* Ensure a high z-index value */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow for better visibility */
}

.topbarLeft {
  flex: 1;
}

.topbarCenter {
  flex: 5;
}

.searchbar {
  padding-left: 5%;
  width: 100%;
  height: 30px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  align-items: center;
}

.searchIcon {
  font-size: 20px !important;
  margin-left: 10px;
}

.searchInput {
  border: none;
  width: 70%;
  background-color: white;
  color: black;
}

.searchInput:focus {
  outline: none;
}

.topbarRight {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Align items to the right end */
  gap: 15px; /* Add space between the user icon and the logout icon */
  color: white;
  margin-right: 10px;
}

.topbarImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.logoutIcon {
  font-size: 24px;
  cursor: pointer;
  color: white;
}

.logoutIcon:hover {
  color: #e0a94c;
}